
body, .review-body, .contact-body .post-body{
    font-family: 'Helvetica', sans-serif;
    background-color: #FAFAFA;
    color: #000000;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 1.2rem;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5rem;
    font-weight: 1000;
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
}


/* nav bar */
header nav {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: transparent;
}

header nav #icon {
    height: 50px;
    margin-right: auto;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 8rem;
    margin: 0;
    justify-content: space-around;
}

header nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 800;
}

header nav ul li #contact-btn {
    background-color: #000000;
    color: #FFFFFF;
    padding: 1rem 3rem;
    border-radius: 5px;
}



/* Intro */
#intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

#intro img#logo {
    width: 300px;
    margin-bottom: 1rem;
}

#intro div {
    flex: 1;
}

#intro h2 {
    margin: 1rem 0;
}

#intro button {
    background-color: #FFFFFF;
    color: #000000;
    border: 2.5px solid #000000;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 1rem;
}

/* intro suscriptions */
#intro-suscriptions img {
    width: 100%;
    height: auto;
}

/* suscriptions */

#suscriptions h2 {
    margin: 2rem;
}

#suscriptiontiers {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex; 
    justify-content: center; 
    gap: 130px; 
}

.suscription {
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 1rem;
    flex: 1;
    max-width: 300px; 
    display: flex; 
    flex-direction: column; 
}
.suscription p{
    font-size: 1.2rem;
}

.suscription .toolbar {
    background-color: #FFFFFF;
    height: 30px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0rem; 
}

#suscriptions .suscription h3 {
    font-size: 1.4rem;
    font-weight: bold;
}

#tier1button, #tier2button, #tier3button {
    color: #FFFFFF;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 30px;
    font-weight: 600;
}

#tier1button{
    background-color: #E73000;
    border-color: #E73000;
}

#tier2button{
    background-color: #EB6127;
    border-color: #EB6127;
}

#tier3button{
    background-color: #8EB5AC;
    border-color: #8EB5AC;
}

/* about us*/
#aboutus {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

#aboutus #aboutustext p{
    padding: 3rem;
}

#aboutus img{
    width: 500px;
    margin-bottom: 1rem;

}


/* cta */
#cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cta-buttons {
    margin: 50px;
    display: flex;
    gap: 400px; 
}

#reviews-btn,
#signup-btn {
    background-color: #E73000;
    color: #FFFFFF;
    border: 2px solid #E73000;
    padding: 1.5rem 7rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
}

#reviews-btn {
    background-color: #EB6127;
    border: 2px solid #EB6127;
}

/* footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #000000;
    color: #FFFFFF;
}

footer p {
    margin: 0.5rem 0;
}

.footer-right {
    text-align: right;
}

.footer-right p {
    margin-bottom: 0.5rem;
}

.footer-right a {
    margin: 0 10px;
}

.social-icon {
    width: 30px;
}

#facebook img{
    width: 15px;
}

/***** REVIEWS PAGE********/
.reviews-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}

.review-content h3{
    font-size: 1.7rem;
}
.review-body h2{
    margin-left: 30px;
}
.review {
    width: 40%;
    display: flex;
    font-size: 1.1rem;
    padding: 6em;
}

.profile-image {
    width: 120px;
    height: 120px; 
    border-radius: 50%;
    margin-right: 20px;
}

.review-content {
    flex: 1;
}

/* Form */
form {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px; 
    margin: 90px auto;
    color: #FAFAFA;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1.2em;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    height: 44px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 35px;
    font-size: 14px;
}

textarea {
    height: 150px;
}

.review-body button, .contact-body button {
    background-color: #E73000;
    color: #FFFFFF;
    border: 2px solid #E73000;
    padding: 1rem 5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 auto 20px;
    display: block;
}

#overallRating {
    margin-bottom: 30px;
}

#overallRating label {
    display: block; 
    margin-bottom: 10px; 
}

.rating-stars {
    display: flex;
}

.rating-stars input[type="radio"] {
    margin-right: 10px; 
}

/***** POST PAGE********/
.post-body{
    text-align: center;
    padding: 3rem;
    line-height: 5rem;
}
#back-button {
    background-color: #E73000;
    color: #FFFFFF;
    border: 2px solid #E73000;
    padding: 1rem 5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 50px;
}



/***** CONTACT PAGE********/
#contact-section {
    padding: 2rem;
}

.contact-content {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 2rem;
}

.contact-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: left;
}

.contact-text {
    flex: 1;
}

.contact-text p{
    font-size: 1.7em;
    padding: 2rem;
}

/* Mobile view */
@media (max-width: 768px) {
    body h2 {
        font-size: 3.5rem; 
        margin-bottom: 1rem; 
    }

    body h3 {
        font-size: 3.2rem; 
        margin-bottom: 1rem; 
    }

    /* nav  */
    /* Menú de hamburguesa */
    .navigation {
        list-style: none;
        margin: 0;
        padding: 0;
        display: none; /* Oculta la lista inicialmente */
    }
    
    #menu {
        display: block; 
        font-size: 2.5rem;
        font-weight: 700;
        text-decoration: none;
        padding: 1rem;
        background-color: #E73000;
        color: #fafafa;
    }
    
    #menu::before {
        content: "≡";
    }
    
    .navigation.show {
        display: block;
        text-align: right; 
    }
    
    .navigation.show a {
        display: block;
        padding: 25px; 
        color: #000000;
        font-weight: 700;
        transition: 0.5s;
        font-size: 1.8rem;
    }
    
    #menu.show::before {
        content: "X";
        font-size: 1rem;
    }


    /* Intro section */
    #intro {
        flex-direction: column;
        align-items: center;
    }

    #intro img#logo {
        margin-bottom: 1rem;
        width: 60%; 
        height: auto    ;
    }
    #imagetabs{
        width: 100%;
    }

    #intro p {
        font-size: 1rem; 
        margin-bottom: 1.5rem;
        text-align: center; 
    }

    #intro button {
        margin-top: 1.5rem; 
        padding: 0.5rem 1rem; 
        margin-bottom: 60px;
    }

    /* Subscriptions section */

    #intro-suscriptions img {
        width: 100%;
    }

    #suscriptions h2 {
        margin: 0.5rem 0;
        text-align: center; 
    }
    .suscription h3{
        font-size: 2.4rem;
    }
    .suscription p{
        font-size: 1rem;
        letter-spacing: 1px;
    }

    #suscriptiontiers {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    .suscription {
        max-width: 60%;
        margin-bottom: 0.5rem; 
        text-align: center; 
    }


    #tier1button,
    #tier2button,
    #tier3button {
        margin: 1rem auto; 
    }

    /* About us section */
    #aboutus {
        flex-direction: column-reverse; 
    }

    #aboutus img {
        width: 80%; 
        margin-bottom: 1rem; 
    }

    #aboutus #aboutustext {
        padding: 0 0rem; 
    }

    /* CTA section */
    .cta-buttons {
        flex-direction: column; 
        gap: 3rem; 
    }

    #reviews-btn,
    #signup-btn {
        width: 80%; 
        padding: 1rem;
    }

    /******* Contact section ******/
    .contact-body p{
        font-size: 1.1rem;
    }

    .contact-body h2{
        font-size: 4rem;
    }

    .contact-content {
        flex-direction: column;
        align-items: center;
    }

    .contact-image img {
        max-width: 80%; 
    }

    .contact-text {
        padding: 0 1rem; 
    }

    .contact-text p {
        margin-bottom: 1rem; 
        text-align: center; 
    }

    /* Contact form */

    .contact-body form {
        max-width: 80%; 
        margin: 2rem auto; 
    }


    input[type="text"],
    input[type="email"],
    select,
    textarea {
        width: 100%;
        padding: 1rem; 
    }

    .contact-body button[type="submit"] {
        font-size: 2rem;
        width: 80%; 
        margin-top: 1rem; 
        padding: 0.5rem 1rem; 
    }

    /***** Customer reviews section ********/
    .reviews-container {
        flex-direction: column; 
    }

    .review {
        width: 75%; 
        padding: 0;
    }

    .profile-image {
        margin-right: 0; /* Remove right margin */
        margin-bottom: 0rem; /* Adjust spacing */
    }

    .review-content {
        text-align: center; /* Center align the content */
    }

    .review-body h2 {
        margin-bottom: 0.5rem; /* Adjust spacing */
        font-size: 3rem;
    }

    /* Add review section */
    #add-review form {
        max-width: 70%; /* Adjust maximum width of the form */
        margin: 2rem auto; /* Center and adjust spacing */
        font-size: smaller;
    }

    #overallRating {
        margin-bottom: 1.5rem; /* Adjust spacing */
    }

    #overallRating label {
        margin-bottom: 0.3rem; /* Adjust spacing */
    }

    .rating-stars {
        justify-content: center; /* Center align the stars */
    }

    textarea {
        height: 120px; /* Adjust height of the textarea */
    }

    button[type="submit"] {
        width: 80%; /* Adjust button width */
    }
 /***** footer********/
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-right {
        text-align: center;
        margin-top: 1rem;
    }

    .footer-right a {
        margin: 10px;
    }
    }