:root {
    --primary-color: #79BEE7; /* Light blue */
    --secondary-color: #FFD700; /* Yellow */
    --background-color: #FFFFFF; /* White */
    --text-color: #000000; /* Black */
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    border-bottom: 5px solid var(--secondary-color);
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    letter-spacing: 2px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

section {
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 10px;
}

.info {
    line-height: 1.5;
}

section h2 {
    color: var(--primary-color);
    font-size: 24px;
    margin-bottom: 10px;
}

.weather {
    position: relative;
  }
  
  .weather::after {
    content: "\1F31E"; 
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
  }


footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 767px) {
    header h1 {
        font-size: 24px; 
    }

    main {
        flex-direction: column; 
        align-items: center; 
    }

    section {
        margin-top: 20px; 
    }

    .info p {
        margin-bottom: 12px; 
    }
    
    .weather .weather-icon {
        display: none;
      }

    footer {
        position: relative; 
        margin-top: 20px; 
    }
}
